.tipografia{
  font-family: 'Manjari', sans-serif;
  color: white;
}
header{
	padding: 0;
	margin: 0;
	width: 100%;
	background-color: #3dbb9e;

}

header h1{
	text-align: center;
	padding-top: 2rem;
}
.tables-color{
	background-color:#3dbb9e;
}

footer {
 width: 100%; 
 padding-bottom: 0;
 margin: 0;
}
.copyright {
  display: flex;
  font-size: 15px;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-right: 0;
  color: white;
  background-color: #1e8069;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif ;
  width: 100%;
  position: absolute;
}
.copyright p{
  padding-bottom: 2px;
  margin-bottom: 2px;
}