.tipografia{
  font-family: 'Manjari', sans-serif;
  color: white;
}
.typo{
  font-family: 'Manjari', sans-serif;
  color: #3dbb9e;
}

/*navbar*/

.botones {
  text-align: right;
  margin-left: inherit;
  margin-top: 30px;
  color: #fff;
}
.services-color a, a i{
  color: #3dbb9e;
}
.nav-logo {
  height: 83px;
  margin-top: -1px;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
    margin: 5px;
}
.navback-carecolor {
  background: #3dbb9e12;
}
header img {
  vertical-align: middle;
  border-style: none;
  width: 104px;
}
.nav-care-btn {
  background-color: #3dbb9e;
  border-color: #3dbb9e;
  color: #fff;
  margin: 5px;
}
.nav-care-btn:hover  {
  color: #8adac9;
}
.nav-care-btn.disabled {
  color: #fff;
}
a {
  text-decoration: none;
}

.last-info img{
  color: #3dbb9e;
  width: 200px;
}


/*footer*/

.footer-second{
  background-image: url(assets/images/img/footer-bkg2.png); 
/*  height: auto;*/
  background-position-x: center;
  background-size: auto; 
  background-repeat: repeat-x;
  background-color: #3dbb9e;
}
/*@media (min-width: 992px){
  .footer-second{
  background-repeat: repeat-x; 
  }
}*/
.footer-in{
   background: linear-gradient( rgb(255,255,255, 0.1), rgb(23,25,24, 0.78));
   width: 100%;
   margin: 0;
   padding: 0;
}


/*clases footer mainindex*/

footer {
   width: 100%; 
   padding-bottom: 0;
   margin: 0;
}
.container-footer{
  background-image: url(assets/images/img/blur1.jpg);
   background-size: cover;   
   background-repeat: repeat-x;
   width: 100%;
   margin: 0;
}
.footer-part-bkg{
 background: linear-gradient(rgb(220,220,220, 0.5), rgb(0,0,0, 0.5) );
 width: 100%;
 color: white;
 padding: 0;
 margin: 0;
}
footer img{
  height: 135px;
  margin-top: 20px;
  padding-top: 1rem;
}
footer p{
  padding: 15px;
}
.footer-first {
  text-align: justify;
}
.footer-buttons{
  margin-top: 5rem;
}
.footer-buttons a{
  width: 200px;
  height: 60px;
  text-align: center;
  color: white;
  line-height: 3.75rem;
  font-size: 1.25rem;
  cursor: pointer;
  display: block;
}
.footer-contact{
  background-color: #32c6a3;
  margin: 1rem;
}
.footer-contact:hover{
  background-color: #1e8069;
  text-decoration: none;
}
.footer-donate{
  background-color: #32c6a3;
  margin: 1rem;
}
.footer-donate:hover{
  background-color: #1e8069;
  text-decoration: none;
}
.footer-titulo{
 /* height: 54px;*/
}
.footer-titulo h2{  
  font-family: 'Manjari', sans-serif;
  color: white;
}
.redes a {
  margin: 10px;
}
.redes i {
  color: white;
  font-size: 2.5rem;
}
.redes {
  margin-top: 1rem;
  justify-content: center;
}
.redes i:hover {
   transform: rotateY(360deg);
   transition-duration: 1s;
}
.copyright {
  display: flex;
  font-size: 15px;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-right: 0;
  color: white;
  background-color: #1e8069;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif ;
  width: 100%;
  position: absolute;
}
.copyright p{
  padding-bottom: 2px;
  margin-bottom: 2px;
}



/*----------- Cuerpo de pagina de contacto-----------*/
/**** Contact Page  ****/
.mapa{
  margin-top: 4rem;

}
.mapa img {
  margin: 50px;
  margin-top: 20PX;
}
.contact .address {
    width: 100%;
    height: 250px;
    background: #fff;
    margin-top: 100px;
    padding-top: 66px;
    box-sizing: border-box;
    border-top: 1px solid #e0e0e0;
    text-align: 500px;
}
.especializaciones {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-image:url(assets/images/img/fondo.png);
    background-size: 100% 100%;
    padding: 50px 0; 
    background-repeat: no-repeat;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}
@media (max-width: 767.98px) {
  .especializaciones{
    padding-top: 7rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

}
body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #f6f7f9;
    text-align: center;
    background-color: #fff;
}

/*MODAL LOGIN*/

@media (min-width: 576px){
.modal-loginj {
    max-width: 900px;
    margin: 1.75rem auto;
  }
}
.modal-content{
  font-family: 'Manjari', sans-serif;
}
.account{
  background-color:#619680;
  height: 510px;
  width: 480px;
  position: relative;
  display: inline-block;
}
.account-login{
  background-color: white;
  height: 510px;
  width: 90%;
  position: absolute;
  top: -3%;
  z-index: 1;
  right: -1%;
  box-shadow: 0 8px 25px 0px black;
  transition-duration: 1s;
}
.account-login-1{
  background-color: white;
  height: 500px;
  width: 100%;
  position: absolute;
  top:-113%;
  z-index: 100;
  /*transform:translateY(-120%);  */
  /*box-shadow: 0 8px 25px 0px black;*/
  transition-delay: 1s;
  transition-duration: 0.3s;
}
.account-login-2{
  background-color: white;
  height: 540px;
  width: 100%;
  position: absolute;
  box-shadow: 0 8px 25px 0px black;
  transition: 2s;
}


/*Modal responsive*/

.account-responsive-doctor{
  background-image: url(assets/images/img/blurred-background-green-color.jpg);
  background-repeat: no-repeat;background-position-x:center;
  background-size: cover;
  width: 100%;
  height:95vh;
  left: 110%;
  transition: 1s;  
}
.account-responsive-patient{
  background-image: url(assets/images/img/blurred-background-green-color.jpg);
  background-repeat: no-repeat;background-position-x:center;
  background-size: cover;
  width: 100%;
  height:95vh;
  left: -110%;
  transition: 1s;  
}
.account-responsive-base{
  background-image: url(assets/images/img/blurred-background-green-color.jpg);
  background-repeat: no-repeat;
  background-position-x:center;    
  background-size: cover;
  width: 100%;
  height:95vh;
}