/*.reg-back {
	background-image: url("./assets/images/img/img-registro.jpg");
	background-repeat: no-repeat;
	background-position-x:center;
	background-size: cover;
	position: relative;
}*/

.img-backg {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	opacity: 0.9;
	min-width: 100%;
	z-index: -2;
}

.reg-back:before {
	content: '';
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: linear-gradient(to top, #ace7c65c 0%, #779ab863 100%);
	z-index: -1;
}

.opa-form {
	background: linear-gradient(to top, #9dd0b3 0%, #779ab8 100%);
}

.opa-form label {
	margin-bottom: 0.4rem;
	color: #fff;
}

.btn-care {
	color: #fff;
    background-color: #779ab8;
    border-color: #779ab8;
    font-weight: bold;
}

.btn-care:hover {
  background-color: #62939a !important;
  border-color: #62939a;
  color: #ffffff;
}

.btn-care:disabled {
  color: #303231;
  background-color: #c5cac7 !important;
  border-color: #c5cac7;
}

.btn-care:focus {
  background-color: #3dbb9e !important;
}

.btn-care:active {
  background-color: #3dbb9e !important;
  border-color: #3dbb9e;
}

@media (max-width: 768px) {
	.btn-care {
		width: 100%;
	}
}

.typo{
  font-family: 'Manjari', sans-serif;
}

.opa-form .invalid-feedback {
	position: absolute;
}

/*.invalid {
	border-color: #dc3545;
    padding-right: calc(1.5em + .75rem);
    background-image: url("assets/images/img/invalid.svg");
    background-repeat: no-repeat;
    background-position: center right calc(.375em + .1875rem);
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}*/