.tipografia{
  font-family: 'Manjari', sans-serif;
  color: white;
}


/*header departments*/

.departments-title{
  background-repeat: repeat-x;
  width: 100%;
  background-size: cover;
  background-image: url("./assets/images/img/departments.jpg");
  height: 350px;
}
@media screen and (max-width: 39.99875em){
.departments-title {
    background-position: 65% 50%;
}
  }

.departments-title p{
 
  position: relative;
  min-width: 230px;
  max-width: 100%;
  color:  #3dbb9e;
  text-align: left;
  font-size: 3.5rem;
 

}
@media screen and (max-width: 39.99875em){
.departments-title  p{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    font-size: 2.6rem; 
    font-style: bold;
    background-color: rgb(255,255,255, 0.6);
    margin-top: 250px;
}
}
